body {
    background-color: rgb(31, 41, 46);
    color: white;
    font-family: sans-serif;
    text-align: center;
    width: 90%;
}

#main {
    display: grid;
    grid-template-columns: auto 30%;
}

h1 {
    color: rgb(2, 5, 23);
    filter: drop-shadow(0 0 0.3rem rgba(6, 247, 243, 0.969));
    margin-bottom: 30px;
}

#statsChart {
    width: 60vw;
    margin: 0 auto;
    text-align: center;
}

#myChart {
    background-color: rgb(35, 54, 61);
    width: fit-content;
}

#box-log {
    height: fit-content;
    background: rgb(86,171,172);
    background: linear-gradient(0deg, rgba(86,171,172,0.7708333333333334) 44%, rgba(90,99,107,1) 100%);
    color: black;
    outline: 1px solid aqua;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    font-family: sans-serif;
    width: 30vw;
}

h2 {
    border-bottom: 2px solid black;
}

#war-log {
    padding: 0 5px;
    list-style: none;
    color: black;
    font-weight: bold;
}

.logStyle {
    font-size: 14px;
}

.styleTeam1 {
    font-weight: bold;
    color: darkgreen;
    font-size: 16px;
}

.styleTeam2 {
    font-weight: bold;
    color: rgb(177, 212, 80);
}

#btnSimulate {
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 15px 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(59deg, rgba(2, 0, 36, 1) 0%, rgba(136, 136, 187, 1) 50%, rgba(0, 212, 255, 1) 100%);
    border-radius: 5px;
    font-weight: bold;
    color: rgb(2, 5, 23);
    font-size: 20px;
}

#btnSimulate:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .9s;
}

#btnSimulate:hover:after {
    width: 100%;
    background: aqua;
}